header {
    background-color: dimgray;
}
cabeçalho-lista-item
{color: blue; 
}

.Sarandi{
    color: blueviolet;
    font-size: 30px;
}
.jogadores{
    color: blue;
}
.buscar{
    color: brown;
}

.coco{
    font-size: 30px;
}